<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the Symfony front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, fall back to using mod_alias
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>
