{% extends 'base.html.twig' %}

{% block title %}
    Hello {{ name }}!
{% endblock %}

{% block body %}
    <p class="bg-gray-500 p-5 text-white font-bold">
        Hello {{ name }}!
    </p>
{% endblock %}